<!DOCTYPE html>
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1>Welcome <%= user.name %></h1>
    <h1>email: <%= user.email %></h1>
    <h1>Country <%= user.country %></h1>
    <style>
        h1{
            color: green;
        }
    </style>
</body>